<!-- <div class="row"> -->
  <p id="notice"><%= notice %></p>
<!-- </div> -->

<div class="row">
  <div class="col-sm-4">
    <h1>
      <strong>TooDoo</strong>
      <i class="fa fa-flag text-primary"></i>
      <small class="hidden-xs hidden-sm hidden-md">quick-n-dirty to-do list</small>
    </h1>
  </div>
  
  <div id="new_task" class="col-sm-8">
    <%= render 'remote_form' %>
  </div>
</div>

<hr>

<div class="row">
  
  <div id="todo" class="board col-sm-4">
      <h2 class="inline-block">
        <small><i class="fa fa-clock-o text-warning"></i></small>
        To Do
      </h1>
    
      <div class="tasks">
        <% @todo.each do |task| %>
        <%= render task %>
        <% end %>
      </div>
  </div>
  
  <div id="doin" class="board col-sm-4">
    <h2 class="inline-block">
      <small><i class="fa fa-play-circle-o text-info"></i></small>
      Doing
    </h2>
    
    <div class="tasks">
      <% @doin.each do |task| %>
      <%= render task %>
      <% end %>
    </div>
  </div>

  <div id="done" class="board col-sm-4">
    <h2 class="inline-block">
      <small><i class="fa fa-check-circle-o text-success"></i></small>
      Done
    </h2>
    
    <div class="tasks">
      <% @done.each do |task| %>
      <%= render task %>
      <% end %>
    </div>
  </div>
  
</div>

<br>

